.App {
  text-align: center;
}

.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3 , 250px);
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-areas: "header Volkswagem Peugeot Fiat Volkswagem2 Volkswagem3 Volkswagem4 Volkswagem5 Volkswagem6 Volkswagem7"
                        "dia1 content content content content content content content content content"
                        "dia2 content content content content content content content content content"  
                        "dia3 content content content content content content content content content"  
                        "dia4 content content content content content content content content content"
                        "dia5 content content content content content content content content content" 
                        "dia6 content content content content content content content content content"
                        "dia7 content content content content content content content content content"
                        "dia8 content content content content content content content content content"
                        "dia9 content content content content content content content content content"
                        "dia10 content content content content content content content content content"
                        "dia11 content content content content content content content content content"
                        "dia12 content content content content content content content content content"
                        "dia13 content content content content content content content content content"
                        "dia14 content content content content content content content content content"
                        "dia15 content content content content content content content content content"
                        "dia16 content content content content content content content content content"
                        "dia17 content content content content content content content content content"
                        "dia18 content content content content content content content content content"
                        "dia19 content content content content content content content content content"
                        "dia20 content content content content content content content content content"
                        "dia21 content content content content content content content content content"
                        "dia22 content content content content content content content content content"
                        "dia23 content content content content content content content content content"
                        "dia24 content content content content content content content content content"
                        "dia25 content content content content content content content content content"
                        "dia26 content content content content content content content content content"
                        "dia27 content content content content content content content content content"
                        "dia28 content content content content content content content content content"
                        "dia29 content content content content content content content content content"
                        "dia30 content content content content content content content content content"
                        "dia31 content content content content content content content content content"              
}

.grid-item {
  background-color: #f0f8ff;
  border-radius: 5px;
  border: #f0f8ff,
}

.grid-item-carros {
  grid-area: header;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-item-1 {
  grid-area: dia1;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-item-2 {
  grid-area: dia2;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-item-3 {
  grid-area: dia3;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-item-4 {
  grid-area: dia4;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-item-5 {
  grid-area: dia5;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.grid-item-6 {
  grid-area: dia6;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-item-7 {
  grid-area: dia7;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-item-8 {
  grid-area: dia8;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.grid-item-9 {
  grid-area: dia9;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-10 {
  grid-area: dia10;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-11 {
  grid-area: dia11;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-12 {
  grid-area: dia12;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-13 {
  grid-area: dia13;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-14 {
  grid-area: dia14;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-15 {
  grid-area: dia15;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-16 {
  grid-area: dia16;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-17 {
  grid-area: dia17;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-18 {
  grid-area: dia18;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.grid-item-19 {
  grid-area: dia19;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-item-20 {
  grid-area: dia20;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-item-21 {
  grid-area: dia21;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.grid-item-22 {
  grid-area: dia22;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-23 {
  grid-area: dia23;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-24 {
  grid-area: dia24;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-25 {
  grid-area: dia25;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-26 {
  grid-area: dia26;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-27 {
  grid-area: dia27;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-28 {
  grid-area: dia28;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-29 {
  grid-area: dia29;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-30 {
  grid-area: dia30;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-31 {
  grid-area: dia31;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}


----------------------------

.grid-item-Volkswagem {
  grid-area: Volkswagem;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Peugeot {
  grid-area: Peugeot;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Fiat {
  grid-area: Fiat;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Volkswagem2 {
  grid-area: Volkswagem2;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Volkswagem3 {
  grid-area: Volkswagem3;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-2Volkswagem48 {
  grid-area: Volkswagem4;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Volkswagem5 {
  grid-area: Volkswagem5;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Volkswagem6 {
  grid-area: Volkswagem6;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-Volkswagem7 {
  grid-area: Volkswagem7;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}