.App {
  text-align: center;
}

.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3 , 250px);
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-areas: "header car1 car2 car3 car4"
                       "dia1 data1" 
                       "dia2 data1"
                       "dia3 data2"
                       "dia4 data3"
                       "dia5 data4"
}

.grid-item {
  background-color: #f0f8ff;
  border-radius: 5px;
  border: #f0f8ff,
}

.grid-item-header {
  grid-area: header;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-dia-1 {
  grid-area: dia1;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-dia-2 {
  grid-area: dia2;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-dia-3 {
  grid-area: dia3;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-dia-4 {
  grid-area: dia4;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}

.grid-dia-5 {
  grid-area: dia5;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 
.grid-dia-6 {
  grid-area: dia6;
  /* grid-column-start: 1;
  grid-column-end: -1; */
}


----------------------------

.grid-item-car1 {
  grid-area: car1;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-car2 {
  grid-area: car2;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-car3 {
  grid-area: car3;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-car4 {
  grid-area: car4;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

.grid-item-car5 {
  grid-area: car5;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 

----------------------------

.grid-item-data {
  grid-area: data1;
  /* grid-row-start: 2;
  grid-row-end: 4; */
} 